<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/mdb.min.css" th:href="@{/css/mdb.min.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="css/adminstyles.css" th:href="@{/css/adminstyles.css}">
    <link href="fontawesome/css/all.min.css" rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
    <link href="fontawesome/css/fontawesome.css" rel="stylesheet" th:href="@{/fontawesome/css/fontawesome.css}">
    <link href="fontawesome/css/brands.css" rel="stylesheet" th:href="@{/fontawesome/css/brands.css}">
    <link href="fontawesome/css/solid.css" rel="stylesheet" th:href="@{/fontawesome/css/solid.css}">
    <title>Categories</title>
</head>
<body>
<div style="height: 10px; background: rebeccapurple;"></div>
<nav class="navbar navbar-expand-lg navbar-default bg-light">
    <a href="dashboard.html" class="navbar-brand"> <img src="images/logos/academyLogo2.png" alt="Logo" width="150"
                                                        height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active btn btn-dark btn-sm"><a class="nav-link" href="index.html"
                                                               th:href="@{/index}">Blog
                Home<span
                        class="sr-only">(current)</span></a></li>
        </ul>
    </div>
</nav>
<div style="height: 10px; background: rebeccapurple;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <br>
            <h3 class="text-white">Ngo Alalibo's Blog</h3>
            <br>
            <ul id="Side_Menu" class="nav nav-pills d-block">
                <li class="nav-item"><span class="fas fa-th text-warning mx-2"></span><a
                        href="dashboard.html" th:href="@{/dashboard}">Dashboard</a></li>
                <li class="nav-item"><span class="fas fa-plus-square text-warning mx-2"></span><a
                        href="addNewPost.html" th:href="@{/post}">Manage
                    Posts</a>
                </li>
                <li class="nav-item active"><span class="fas fa-user text-warning mx-2"></span><a
                        href="categories.html" th:href="@{/categories}">Categories</a></li>
                <li class="nav-item"><span class="far fa-user text-warning mx-2"></span><a href="admin.html"  th:href="@{/admin}">Manage
                    Admins</a>
                </li>
                <li class="nav-item"><span class="fas fa-table user text-warning mx-2"></span><a
                        href="comment.html" th:href="@{/comment}">Comments</a>
                    <span class="badge-pill badge-warning ml-1 small fa-pull-right" th:text="${noOfComments}"> </span>
                </li>
                <li class="nav-item"><span class="fab fa-github-square text-warning mx-2"></span><a href="index.html"
                                                                                                    th:href="@{/index}"
                                                                                                    target="_blank">Live
                    Blog</a>
                </li>
                <li class="nav-item"><span class="fas fa-sign-out-alt text-warning mx-2"></span><a href="Logout.php"
                                                                                                   th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <h1>Manage Categories</h1>
            <div>
                <div th:utext="${session.message}"></div>
                <form th:object="${category}" th:action="@{/categories}"
                      method="post">
                    <fieldset>
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <label class="purple-text"
                                   for="categoryname">Name:</label>
                            <input class="form-control" type="text" name="categoryname" id="categoryname"
                                   th:field="*{categoryname}"
                                   placeholder="Name">
                        </div>
                        <input class="btn btn-info btn-block" type="Submit" name="Submit" th:type="Submit"
                               value="Add New Category">
                    </fieldset>
                    <br>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Sr No</th>
                        <th>Category Name</th>
                        <th>Date & Time</th>
                        <th>Creator Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.getAdditionalProperties().get('srno')}">Onions</td>
                        <td th:text="${category.getCategoryname()}">2.41</td>
                        <td th:text="${category.getDatetime()}">yes</td>
                        <td th:text="${category.getCreatorName()}">yes</td>
                        <td><a class="btn btn-danger btn-sm"
                               th:href="@{/categories/delete/{id}(id=${category.getId()})}">Delete</a>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div th:if="${session.message}!=null" th:object="${#session.setAttribute('message', null)}"></div>
<div class="bg-dark" id="footer">
    <hr>
    <p>Nog Alalibo's Blog by Ngo Alalibo | &copy; 2020</p>
    <a href="#" style="color:white; text-decoration: none; cursor: pointer; font-weight: bold"></a>
    <p>This is a live blog. The truth is the most valuable thing on earth. I hope that this blog makes you a more
        valuable person as you read and interact with the posts.</p>
</div>
<div style="height: 10px; background: rebeccapurple;"></div>
<div style="height: 10px; background: rebeccapurple;"></div>
<script defer src="fontawesome/js/all.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>