<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{head::head}"></th:block>
    <title>Dashboard</title>
</head>
<body>

</th:block>
<!--Header Start-->
<div th:insert="~{header::header}"></div>
<!--Header End-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <br>
            <h3 class="text-white">Ngo Alalibo's Blog</h3>
            <br>
            <ul id="Side_Menu" class="nav nav-pills d-block">
                <li class="nav-item active"><span class="fas fa-th text-warning mx-2"></span><a
                        href="dashboard.html" th:href="@{/dashboard}">Dashboard</a></li>
                <li class="nav-item"><span class="fas fa-plus-square text-warning mx-2"></span><a
                        href="addNewPost.html" th:href="@{/post}">Manage
                    Posts</a>
                </li>
                <li class="nav-item"><span class="fas fa-user text-warning mx-2"></span><a
                        href="categories.html" th:href="@{/categories}">Categories</a></li>
                <li class="nav-item"><span class="far fa-user text-warning mx-2"></span><a href="admin.html" th:href="@{/admin}">Manage
                    Admins</a>
                </li>
                <li class="nav-item"><span class="fas fa-table user text-warning mx-2"></span><a
                        href="comment.html" th:href="@{/comment}">Comments</a>
                    <span class="badge-pill badge-warning ml-1 small fa-pull-right" th:text="${noOfComments}"> </span>
                </li>
                <li class="nav-item"><span class="fab fa-github-square text-warning mx-2"></span><a href="index.html"
                                                                                                    th:href="@{/index}"
                                                                                                    target="_blank">Live
                    Blog</a>
                </li>
                <li class="nav-item"><span class="fas fa-sign-out-alt text-warning mx-2"></span><a href="Logout.php"
                                                                                                   th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <h1>Admin Dashboard</h1>
            <div th:utext="${session.message}"></div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Date & Time</th>
                        <th>Post Title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Image</th>
                        <th>Comments</th>
                        <th>Action</th>
                        <th>Live Preview</th>
                    </tr>
                    </thead>
                    <tbody class="m-0 p-0">
                    <tr class="m-0 p-0" th:each="adminPost: ${allPosts}">
                        <td th:text="${adminPost.getAdditionalProperties().get('srno')}"></td>
                        <td class="blue-text" th:text="${adminPost.getAdditionalProperties().get('shortTitle')}"></td>
                        <td th:text="${adminPost.getAdditionalProperties().get('shortDate')}"></td>
                        <td th:text="${adminPost.getCategory()}"></td>
                        <td th:text="${adminPost.getAuthor()}"></td>
                        <td><img width="50px" height="60px" th:src="@{'/Upload/'+ ${adminPost.getImage()}}">
                        </td>
                        <td>
                            <span th:if="${commentService.getApprovedCommentsByPost(adminPost.id).size()} > 0"
                                  class="badge-pill badge-success float-right fa-pull-right"
                                  th:text="${commentService.getApprovedCommentsByPost(adminPost.id).size()}"></span>
                            <span th:if="${commentService.getUnapprovedCommentsByPost(adminPost.id).size()} > 0"
                                  class="badge-pill badge-danger float-left fa-pull-left"
                                  th:text="${commentService.getUnapprovedCommentsByPost(adminPost.id).size()}"> </span>
                        </td>
                        <td><a th:href="@{'/post/edit/'+ ${adminPost.id}}"><span
                                class="btn btn-warning btn-sm">Edit</span></a>
                            <a th:href="@{'/post/delete/'+ ${adminPost.id}}"><span
                                    class="btn btn-danger btn-sm">Delete</span></a>
                        </td>
                        <td><a target="_blank" th:target="_blank"
                               th:href="@{'/fullPost/'+ ${adminPost.id}}"><span
                                class="btn btn-primary btn-sm">Live Preview</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:if="${session.message}!=null" th:object="${#session.setAttribute('message', null)}"></div>
<div th:insert="~{footer::footer}"></div>
</body>
</html>