<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="bg-dark" id="footer">
        <hr>
        <p>Ngo Alalibo's Blog by Ngo Alalibo | &copy; 2020</p>
        <a href="#" style="color:white; text-decoration: none; cursor: pointer; font-weight: bold"></a>
        <p>This is a live blog. Th truth is the most valuable thing on earth. I hope that this blog makes you a more
            valuable person as you read and interact with the posts.</p>
    </div>
    <div style="height: 10px; background: rebeccapurple;"></div>
</div>
<script defer src="fontawesome/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>