<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{head::head}"></th:block>

    <title th:if="${id}" th:utext="${fullPost.getTitle()}+' - Ngo Alalibo\'s Blog'">Ngo
        Alalibo's Blog</title>
    <title th:unless="${id}" th:utext="'Ngo Alalibo\'s Blog'">Ngo
        Alalibo's Blog</title>
</head>
<body>

<div style="height: 10px; background: rebeccapurple;"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a href="index." th:href="@{/index}" class="navbar-brand"> <img src="images/logos/academyLogo2.png"
                                                                    th:src="@{/images/logos/academyLogo2.png}"
                                                                    alt="Logo" width="150"
                                                                    height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="index.html" th:href="@{/index}">Blog Home<span
                    class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="dashboard.html" th:href="@{/dashboard}">Dashboard</a></li>
        </ul>
    </div>
    <form action="index.html" th:action="@{/index}"
          class="form-inline my-2 my-lg-0" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search"
               aria-label="Search"
               name="search">
        <button class="btn btn-outline-success my-2 my-sm-0 rounded-pill small" type="submit">Go
        </button>
    </form>
</nav>
<div style="height: 10px; background: rebeccapurple;"></div>
<br>
<br>
<br>
<div class="container">
    <div class="blog-header">
        <div th:utext="${session.message}"></div>
        <h1 class="text-primary">Ngo Alalibo's Blog</h1>
        <h6 class="heading">The truth is the most valuable thing... In every field of endeavour .</h6>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <th:block th:object="${fullPost}">
                <div class="card thumbnail gray-background py-5 mt-5 px-0 px-3 overflow-hidden">
                    <img class="img-responsive align-self-center" th:src="@{'/Upload/' + ${fullPost.getImage()}}" alt=""
                         width="400" height="500">
                    <div class="caption">
                        <h3 class="blue-text hoverable align-items-stretch pt-2" id="heading"
                            th:text="${fullPost.getTitle()}"></h3>
                        <p class="text-black-50 font-small"
                           th:text="'Category:  ' + ${fullPost.getCategory()} + ' Published on: ' + ${fullPost.getDatetime()}">
                            <span class="badge-pill badge-light float-right small"
                                  th:with="comment=${commentService.getApprovedCommentsByPost(fullPost.getId())}"
                                  th:text="'Comments: '+comment" th:if="${comment > 0}"> </span>
                        </p>
                        <h5 style="color: #333; font-family: Philosopher; font-size: 18px; line-height: 1.42857143; white-space: pre-line;"
                            class="text-justify" th:utext="${fullPost.getPost()}"></h5>
                    </div>
                </div>
            </th:block> <!--End of get post-->

            <span class="text mt-5"><h4>Share your thoughts about this post</h4></span>
            <span>Comments</span>
            <div>
                <form th:object="${commentObj}" th:action="@{'/fullPost/comment/'+${id}}"
                      method="post">
                    <fieldset>
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group">
                            <label class="purple-text"
                                   for="name">Name:</label>
                            <input th:field="*{name}" class="form-control" type="text" name="name" id="name"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label class="purple-text"
                                   for="email">Email:</label>
                            <input th:field="*{email}" class="form-control" type="text" name="email" id="email"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="purple-text"
                                   for="comment">Comment:</label>
                            <textarea th:field="*{comment}" class="form-control-file" name="comment" id="comment"
                                      cols="30"
                                      rows="4"></textarea>
                        </div>
                        <input class="btn btn-info btn-sm float-right" type="Submit" name="Submit" value="Submit">
                    </fieldset>
                    <br>
                </form>
            </div>
            <th:block th:each="comment : ${commentService.getApprovedCommentsByPost(fullPost.getId())}"
                      th:if="${comment}">
                <div class="rgba-grey-slight clearfix p-2">
                    <img class="float-left m-1" src="images/dummy.png" th:src="@{/images/dummy.png}" alt="" width="80px"
                         height="80px">
                    <p class="blue-text font-weight-bold ml-3" th:text="${comment.getName()}"></p>
                    <p class="ml-4" th:text="${comment.getComment()}"></p>
                    <p class="ml-4 text-black-50 font-small float-right" th:text="${comment.getDatetime()}"></p>
                </div>
            </th:block>
        </div>

        <div class="col-sm-3"><!--side area-->
            <h1>About Me</h1>
            <figure class="figure">
                <img src="images/ngo.jpg" th:src="@{/images/ngo.jpg}"
                     class="img-responsive figure-img img-fluid rounded" alt="me">
                <figcaption class="figure-caption text-justify">

                    <p><span class="50">Hi! I am Ngo Alalibo. I am a software engineer, life-long learner and information technology enthusiast.
                            I believe in the power and purpose of information within an organization and nation.
                            I am passionate about innovation, satisfying customers, learning and mentoring.</span>
                    </p>
                </figcaption>
            </figure>
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h2 class="card-title">Categories</h2>
                </div>
                <div class="card-body text-info">
                    <th:block th:each="cat : ${categories}">

                        <span><a th:href="@{'/'+${cat.getCategoryname()}+'/index/'}"
                                 th:text="${cat.getCategoryname()}"></a></span>
                    </th:block>
                    <div class="card-footer"></div>

                </div>

                <br>

                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <h2 class="card-title">Recent Posts</h2>
                    </div>
                    <div class="card-body text-info">
                        <th:block th:each="recentPost : ${recentPosts}">
                            <div>
                                <figure class="figure">
                                    <img class="img-fluid img-thumbnail figure-img m-2 float-left"
                                         th:src="@{'/Upload/'+${recentPost.getImage()}}" alt="post" width="70px"
                                         height="80px">
                                    <figcaption class="figure-caption float-right">
                                        <p class="my-1 py-0"><span><a
                                                th:href="@{/fullpost/{id}(id=${recentPost.getId()})}"
                                                th:text="${recentPost.getTitle()}"></a></span>
                                        </p>
                                        <p class="text-dark large-2 my-1 py-0"
                                           th:text="${recentPost.getAdditionalProperties().get('shortPost')}"></p>
                                        <p class="small my-1 py-0"
                                           th:text="${recentPost.getAdditionalProperties().get('shortDate')}"></p>
                                    </figcaption>
                                </figure>
                            </div>
                        </th:block>
                    </div>
                    <div class="card-footer"></div>

                </div>

            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer::footer}"></div>

</body>
</html>