<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ngo Alalibo's Blog</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/mdb.min.css" th:href="@{css/mdb.min.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="css/adminstyles.css" th:href="@{css/adminstyles.css}">
    <link href="fontawesome/css/all.min.css" rel="stylesheet" th:href="@{fontawesome/css/all.min.css}">
    <link href="fontawesome/css/fontawesome.css" rel="stylesheet" th:href="@{fontawesome/css/fontawesome.css}">
    <link href="fontawesome/css/brands.css" rel="stylesheet" th:href="@{fontawesome/css/brands.css}">
    <link href="fontawesome/css/solid.css" rel="stylesheet" th:href="@{fontawesome/css/solid.css}">
</head>
<body>

<div style="height: 10px; background: rebeccapurple;"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a href="index.php" class="navbar-brand"> <img src="images/logos/academyLogo2.png" alt="Logo" width="150"
                                                   height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="index.html" th:href="@{/index}">Blog Home<span
                    class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="dashboard.html" th:href="@{/dashboard}">Dashboard</a></li>

        </ul>
    </div>
    <form action="index.html" th:action="@{/index}" class="form-inline my-2 my-lg-0" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 rounded-pill small" type="submit" name="SearchButton">Go
        </button>
    </form>
</nav>
<div style="height: 10px; background: rebeccapurple;"></div>
<br>
<br>
<br>
<div class="container">
    <div class="blog-header">
        <h1 class="text-primary">Ngo Alalibo's Blog</h1>
        <h6 class="heading">The truth is the most valuable thing... In every field of endeavour.</h6>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <th:block th:each="res : ${resultList}">
                <div class="card card thumbnail gray-background m-5 p-5 overflow-hidden">
                    <img class="img-responsive align-self-center" src="#"
                         th:src="@{'Upload/' + ${res.getImage()}}" alt=""
                         width="400" height="500">
                    <div class="caption">
                        <h3 class="blue-text hoverable align-items-stretch pt-2" id="heading"
                            th:text="*{res.getTitle()}"></h3>
                        <p class="text-black-50 font-small"
                           th:text="'Category:  ' + *{res.getCategory()} + ' Published on: ' + *{res.getDatetime()}">
                            <span class="badge-pill badge-light float-right small"
                                  th:with="comment=${commentService.getApprovedCommentsByPost(${res.getId()})}"
                                  th:text="'Comments: '+comment" th:if="${comment > 0}"> </span>
                        </p>
                        <h5 style="color: #333; font-family: Philosopher; font-size: 18px; line-height: 1.42857143;"
                            class="text-justify" th:text="*{res.getPost()}"></h5>
                    </div>
                    <a th:href="@{/fullPost(id=*{res.getId()})}"><span
                            class="btn btn-info float-right">Read more &rsaquo;&rsaquo;&rsaquo;</span></a>
                </div>
            </th:block>
            <nav aria-label="Page navigation example" th:unless="${param.containsKey('page')}">
                <ul class="pagination pagination-lg pagination-circle"
                    th:with="pageNo=${param.page}">
                    <th:block th:if="${pageNo != null}">
                        <th:block th:if="${pageNo > 1}">
                            <li class="page-item">
                                <a class="page-link" href="#"
                                   th:href="@{/index/page/{page}(pageNo=${--pageNo})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        </th:block>
                    </th:block>
                    <th:block th:each="i: ${#numbers.sequence(0,noOfPages - 1)}">
                        <li class="page-item" th:classappend="${ pageNo==i } ? 'active'" th:text="${i}"><a
                                class="page-link"
                                th:href="@{/index/page(page=${i})}"></a>
                        <li class="page-item" th:if="${page} <= ${noOfPages} and ${param.containsKey('page')}">
                            <a class="page-link" th:href="@{/index/page/{page}(page=${i+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        </li>
                    </th:block>
                </ul>
            </nav>

        </div>
        <div class="col-sm-3"><!--side area-->
            <h1>About Me</h1>
            <figure class="figure">
                <img src="images/ngo.jpg" class="img-responsive figure-img img-fluid" alt="me">
                <figcaption class="figure-caption text-justify">

                    <p><span class="50">Hi! I am Ngo Alalibo. I am a software engineer, life-long learner and information technology enthusiast.
                            I believe in the power and purpose of information within an organization and nation.
                            I am passionate about innovation, satisfying customers, learning and mentoring.</span>
                    </p>

                </figcaption>
            </figure>
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h2 class="card-title">Categories</h2>
                </div>
                <div class="card-body text-info">
                    <?php
						global $connection;
						$query = "select * from category order by datetime desc";
						$execute = $connection->query($query);
                    while ($dataRows = $execute->fetch())
                    {
                    $id = $dataRows["id"];
                    $category = htmlentities($dataRows["name"]);
                    ?>
                    <span><a href="index.php?Category=<?php echo $category; ?>"><?php echo $category . "<br>
                        "; ?></a></span>
                    <?php } ?>
                </div>
                <div class="card-footer"></div>

            </div>
            <br>

            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h2 class="card-title">Recent Posts</h2>
                </div>
                <div class="card-body text-info">
                    <th:block th:each="recentPost : ${recentPosts}">
                        <div>
                            <figure class="figure">
                                <img class="img-fluid img-thumbnail figure-img m-2 float-left"
                                     src="Upload/<?php echo $image; ?>" alt="post" width="70px" height="80px">
                                <figcaption class="figure-caption float-right">
                                    <p class="my-1 py-0"><span><a th:href="@{/fullpost/{id}(id=${recentPost.getId()})}"
                                                                  th:text="${recentPost.getTitle()}"></a></span>
                                    </p>
                                    <p class="text-dark large-2 my-1 py-0"
                                       th:text="${recentPost.getAdditionalProperties().get('shortPost')}"></p>
                                    <p class="small my-1 py-0"
                                       th:text="${recentPost.getAdditionalProperties().get('shortDate')}"></p>
                                </figcaption>
                            </figure>
                        </div>
                    </th:block>
                </div>
                <div class="card-footer"></div>

            </div>

        </div>
    </div>
</div>
<div class="bg-dark" id="footer">
    <hr>
    <p>Nog Alalibo's Blog by Ngo Alalibo | &copy; 2020</p>
    <a href="#" style="color:white; text-decoration: none; cursor: pointer; font-weight: bold"></a>
    <p>This is a live blog. The truth is the most valuable thing on earth. I hope that this blog makes you a more
        valuable person as you read and interact with the posts.</p>
</div>
<div style="height: 10px; background: rebeccapurple;"></div>
<script defer src="fontawesome/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>